<section class="mid text-white text-center py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div>
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2>AROUND THE WEB</h2>
                    <div class="d-flex justify-content-evenly px-5">
                        <i class="fa-brands fa-facebook fs-5 border border-white rounded-circle d-flex justify-content-center align-items-center"></i>
                        <i class="fa-brands fa-twitter fs-5 border border-white rounded-circle d-flex justify-content-center align-items-center"></i>
                        <i class="fa-brands fa-linkedin-in fs-5 border border-white rounded-circle d-flex justify-content-center align-items-center"></i>
                        <i class="fa-solid fa-globe fs-5 border border-white rounded-circle d-flex justify-content-center align-items-center"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2>ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>