
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container py-2">
        <a class="navbar-brand fs-2 fw-bold text-white" routerLink = "home">Start Framework</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-4" routerLink = "about" routerLinkActive = "activeLink rounded-3">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-4" routerLink = "portfolio" routerLinkActive = "activeLink rounded-3">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-4" routerLink = "contact" routerLinkActive = "activeLink rounded-3">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-4" routerLink = "gallery" routerLinkActive = "activeLink rounded-3">GALLERY</a>
                </li>
            </ul>
        </div>
    </div>
</nav>