.gallery{
    color: #2c3e50;
}
.icon::before,
.icon::after {
    content: " ";
    border: 3px solid #2c3e50; 
    width: 100px;
}
.col-md-4{
    transition: all 0.5s;
}
.col-md-4:hover{
    cursor: pointer;
    scale: 1.05 ;
}