.portfolio{
    color: #2c3e50;
}
.icon::before,
.icon::after {
    content: " ";
    border: 3px solid #2c3e50; 
    width: 100px;
}
.fa-plus{
    font-size: 60px;
    color: white;
}
.plus{
    background-color: #1abc9c;
    opacity: 0;
    transition: all 0.5s;
}
.item:hover .plus{
    opacity: 0.9;
    cursor: pointer;
}